h1 {
  font-style: italic;
  text-align: center;
  color:blue;
}
h2 {
  font-style:italic;
  text-align:center;
  color:blue; }
 img {
   img-
 }
 .About {
    width:60%;
   float:right;
   background-color:lightgreen;
   font-size: 18px;
 }
